.wrapper {
  margin: 20px 0;

  .title {
    background-color: #ea5d00;
    color: white;
    font-size: 16px;
    line-height: 24px;
    border-radius: 3px 3px 0 0;
  }

  .code {
    margin: 0;
    padding: 0 5px;
    background-color: white;
    color: #282c34;
    text-align: left;
    font-size: 14px;
    border-radius: 0 0 3px 3px;
    font-family: 'Source Code Pro', monospace;

    div {
      padding: 5px 0;

      &:not(:last-child) {
        border-bottom: dashed 1px #cccccc;
      }
    }
  }
}
