body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px 0;
}

.App-nav {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.App-nav a {
  color: white;
}

.App-form {
  width: 400px;
  margin: 30px auto;
}

.App-title {
  font-size: 20px;
  color: white;
  margin: 40px 0;
}
